/* fonts */

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/iranyekanwebbold.eot");
  src: url("../fonts/eot/iranyekanwebbold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebbold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/woff2/iranyekanwebbold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../fonts/ttf/iranyekanwebbold.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/eot/iranyekanwebthin.eot");
  src: url("../fonts/eot/iranyekanwebthin.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebthin.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/woff2/iranyekanwebthin.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../fonts/ttf/iranyekanwebthin.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/iranyekanweblight.eot");
  src: url("../fonts/eot/iranyekanweblight.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanweblight.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/woff2/iranyekanweblight.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../fonts/ttf/iranyekanweblight.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/iranyekanwebregular.eot");
  src: url("../fonts/eot/iranyekanwebregular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebregular.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/woff2/iranyekanwebregular.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../fonts/ttf/iranyekanwebregular.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/iranyekanwebmedium.eot");
  src: url("../fonts/eot/iranyekanwebmedium.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebmedium.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/woff2/iranyekanwebmedium.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../fonts/ttf/iranyekanwebmedium.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/eot/iranyekanwebextrabold.eot");
  src: url("../fonts/eot/iranyekanwebextrabold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebextrabold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/woff2/iranyekanwebextrabold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../fonts/ttf/iranyekanwebextrabold.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 850;
  src: url("../fonts/eot/iranyekanwebblack.eot");
  src: url("../fonts/eot/iranyekanwebblack.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebblack.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/woff2/iranyekanwebblack.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../fonts/ttf/iranyekanwebblack.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/eot/iranyekanwebextrablack.eot");
  src: url("../fonts/eot/iranyekanwebextrablack.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebextrablack.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/woff2/iranyekanwebextrablack.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/ttf/iranyekanwebextrablack.ttf") format("truetype");
}

:root {
  --color-primary: #004b49;
  --color-secondary: #7ab557;
  --color-accent: #d4ff91;
  --color-heading: var(--color-primary);
  --color-body: #212121;
  --color-text-meta: #757575;
  --color-header-bg: #fff;
  --color-footer-bg: var(--color-body);
  --color-footer-txt: #e0e0e0;
  --border-radius: 3rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "iranyekan", sans-serif;
  font-size: 1.6rem;
  color: var(--color-body);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 0.5rem;
  color: var(--color-heading);
}

img {
  width: 100%;
}

/* List */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* link */
a {
  text-decoration: none;
  transition: 0.3s;
}
/* main content */
#main-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* blog page */

.blog-hero {
  height: 15rem;
  display: flex;
  background-color: var(--color-accent);
}

.blog-hero__overlay {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-title {
  font-weight: 600;
  text-align: center;
  width: 90%;
}

.blog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.blog-card__header {
  display: flex;
  aspect-ratio: 28/24;
  width: 100%;
}

.blog-card__img {
  aspect-ratio: 28/24;
  object-fit: cover;
  border-radius: 1rem;
}

.blog-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.blog-card__name,
.blog-card__desc {
  margin: 0;
  text-align: center;
}

.blog-card__name {
  font-weight: 700;
}

.blog-card__desc {
  font-size: 1.4rem;
  color: var(--color-meta);
}

.blog-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 80%;
  align-self: center;
  max-width: 120rem;
}


